# Enable Rewrite Engine
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Jika file/folder tidak ada, redirect ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

# Prevent Directory Listing
Options -Indexes

# Protect sensitive files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>